{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Please don't queue this HIT. Please read this before clicking "Accept"{% endblock %}

{% block content %}
    <p>
        This HIT is an academic experiment on decision making. 
    </p>
    <p>
        This hit has been created to offer a transcription task to participants in earlier hits, as promised in the course of that exercise.
    <p>        
        <strong>
            If you have read this form and decide to participate in this project, please understand your participation is voluntary and you have the right to discontinue participation at any time without penalty or loss of benefits to which you are otherwise entitled. Your individual privacy will be maintained in all published and written data resulting from the study.
        </strong>
    </p>
{% endblock %}








